[submodule "mobilecoin"]
	path = mobilecoin
	url = git@github.com:mobilecoinfoundation/mobilecoin.git
[submodule "ledger-mob"]
	path = ledger-mob
	url = git@github.com:mobilecoinofficial/ledger-mob.git
